<% if @error != nil %>
  <h2 style = "color: red;"><%= @error %></h2>
<% end %>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.text_field :email %><br>
  <%= f.password_field :password %><br>
  <%= f.submit "Log in" %>
<% end %>
