<% if !@cohort.errors.empty? %>
  <h3><%= @cohort.errors.full_messages.last %></h3>
<% end %>
<%= form_for @cohort, url: '/cohorts/new', html: {class: [:menu, :inputForm]} do |f| %>
  <h2 class = "formHeader">Create a new User</h2>
  <%= f.text_field :name, {placeholder: "Name of this Cohort (e.g. Spring 2018)"} %><br>
  <%= f.date_field :start_date, value: Date.current %>
  <%= f.date_field :end_date, value: Date.current.advance(days: 1) %>
  <%# f.select(:course_id, options_from_collection_for_select(Course.all, :id, :name), {include_blank: "Add this Cohort to a Course"}) %>
  <div style = "padding: 0; margin: auto;">
    <%= f.submit "Create Cohort" %>
  </div>
<% end %>
