<div class =  "menu">
  <h2><%= @cohort.name %></h2>
  <% if @cohort.courses.empty? %>
    <h3>This cohort is currently not attending any classes!</h3>
  <% else %>
    <div class = "grid">
      <% @cohort.courses.each do |course| %>
      <div class = "border">
        <p class = "centerText">
          <%= course.name %>
        </p>
        <div class = "flex">
          <%= link_to "show", course_path(course.id) %>
          <% if admin? %>
            <%= link_to "edit", course_edit_path(course.id) %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  <p>Start Date: <%= @cohort.start_date %></p>
  <p>Start Date: <%= @cohort.end_date %></p>
  <% if Date.current >= @cohort.start_date && Date.current <= @cohort.end_date %>
    <p style = "text-align: center;">Cohort is currently in session!</p>
  <% end %>
  <h5 class = "centerText">Instructors</h5>
  <% if @cohort.users.instructors.empty? %>
  <p>
    There are no instructors for this cohort yet!
  </p>
  <% elsif %>
  <div class = "grid">
    <% @cohort.users.instructors.each do |instructor| %>
      <div class = "border">
        <div class="" style = "background-image: url('<%= image_url(instructor.avatar) %>'); background-position: center; height: 128px; width: 64px; margin: auto; padding: 0px;">
        </div>
        <p class = "centerText">
          <%= instructor.name %>
        </p>
        <div class = "flex">
          <%= link_to "show", user_path(instructor.id) %>
          <% if admin? %>
            <%= link_to "edit", user_edit_path(instructor.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
  <h5 class = "centerText">Students</h5>
    <% if @cohort.users.students.empty? %>
      <p>
        There are no students in this cohort yet!
      </p>
    <% elsif %>
    <div class = "grid">
      <% @cohort.users.students.each do |student| %>
        <div class = "border">
          <div class="" style = "background-image: url('<%= image_url(student.avatar) %>'); background-position: center; height: 128px; width: 64px; margin: auto; padding: 0px;">
          </div>
          <p class = "centerText">
            <%= student.name %>
          </p>
          <div class = "flex">
            <%= link_to "show", user_path(student.id) %>
            <% if admin? %>
              <%= link_to "edit", user_edit_path(student.id) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
</div>
