<% @users.each do |user| %>
  <div class = "menu" id = "user-<%= user.id %>">
    <%= user.first_name %><br>
    <%= image_tag("/assets/portraits/#{user.avatar}") %>
    <%= link_to "show", user_path(user.id), class: "navitem" %>
    <%= link_to "delete", user_path(user.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
  </div>
<% end %>
