<% if !@user.errors.empty? %>
  <h3><%= @user.errors.full_messages.last %></h3>
<% end %>
<%= form_for @user, url: '/newMember', html: {class: [:menu, :inputForm]} do |f| %>
  <h2 class = "formHeader">Create a new User</h2>
  <%= f.email_field :email, placeholder: "Email (e.g. example@hotmail.com)" %>
  <%= f.password_field :password, placeholder: "Password (min 8 characters)" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
  <%= f.text_field :first_name, {placeholder: "First Name"} %>
  <%= f.text_field :last_name, {placeholder: "Last Name"} %>
  <%= f.label :birthday, "Birthday: ", style: "margin-top: 10px;" %>
  <%= f.date_field :birthday, min: Date.current.advance(years: -150), max: Date.current %>
  <%= f.select(:education, options_for_select([['High School', 1], ['College', 2], ['Masters', 3], ['PHD', 4]]), {include_blank: 'Select your level of education'}, required: true) %>
  <%# f.select(:cohort_id, options_from_collection_for_select(Cohort.all, :id, :name), {include_blank: "Leave blank if this student is not enrolled"}) %>
  <div style = "padding: 0; margin: auto;">
    <%= f.submit "Confirm" %>
  </div>
<% end %>
