<ul class = 'menu'>
  <li class = 'navitem'>
    <%= link_to "COURSES", courses_path %>
  </li>
  <li class = 'navitem'>
    <%= link_to "COHORTS", cohorts_path %>
  </li>
  <li class = 'navitem'>
    <%= link_to "INSTRUCTORS", instructors_path %>
  </li>
  <li class = 'navitem'>
    <%= link_to "STUDENTS", students_path %>
  </li>
  <li class = 'navitem'>
    <% if session[:id] %>
      <%= link_to "LOGOUT", logout_path, method: :delete %>
    <% else %>
      <%= link_to "LOG IN", login_path %>
    <% end %>
  </li>
</ul>
