
<!DOCTYPE html>
<html>
  <head>
    <title>Pamela's Military Academy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= stylesheet_link_tag 'main' %>
    <div class = "logo">
      <h1 class = "title">GARILAND MILITARY AKADEMY</h1>
    </div>
    <div class = "menuline">
      <ul class = "menu mainmenu">
        <li class = "navitem"><a href = "/login">Log In</a></li>
        <li class = "navitem"><a href = "/newMember">New User</a></li>
      </ul>
    </div>
    <%= javascript_include_tag 'mainpage' %>
  </body>
</html>
