<!DOCTYPE html>
<html>
  <head>
    <title>Pamela's Military Academy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= stylesheet_link_tag 'users', 'data-turbolinks-track': 'reload' %>
    <div class = "user" style = "grid-area: user; width: 85%; height: 87%; margin: auto; position: static;">
      <%= render 'shared/userCard' %>
    </div>
    <div style = "grid-area: menu;">
      <%= render 'shared/menu' %>
    </div>
    <div style = "grid-area: c;">
    <%= yield %>
    </div>
    <%= javascript_include_tag 'menus', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
